@import "include";




.slider-outer-container {
	padding: 0px;
	margin: 0px;
	@include transition();
	height: 730px;
	background: url("../images/background-header.jpg") no-repeat bottom center;
	background-color: $color-brown-dark;
}


// SLIDESHOW
$height-slideshow-image: 545px;
#slider {
	height: $height-slideshow-image;
	position: relative;
	background: $color-brown-light;

	// content
	.slidecontent {
		position: absolute;
		top: 175px;
		left: 0;
		width: 100%;
		z-index: 10;
		color: $color-white;
		pointer-events: none;
		.slidecontent-container {
			width: 500px;
			padding-left: 50px;
			img { width: 60%; }
			a { pointer-events: auto; }
		}
	}
	
	// slidemenu
	.slidemenu {
		position: absolute;
		bottom: -175px;
		left: 0;
		width: 100%;
		z-index: 999;
		text-align: center;
		a {
			@include transition();
			color: $color-white;
			.slidemenu-item-shadow {
				position: absolute;
				top: 0;
				left: 0;
				z-index: -1;
				img { width: 100%; }
			}
			.slidemenu-item-image {
				@include transition();
				@include round();
				overflow: hidden;
				border: solid 2px $color-white;
				img { width: 100%; }
			}
			.slidemenu-item-title {
				padding: 10px 0 0 0;
				font-size: 1.2em;
			}
			hr {
				@include transition();
				border-bottom: solid 1px $color-white;
				width: 25%;
			}
			&:hover {
				@include glow(5px, $color-orange-lighter, 0.5);
				color: $color-orange-lighter;
				.slidemenu-item-image {
					@include round();
					@include glow(10px, $color-white, 0.7);
					overflow: hidden;
					border: solid 10px $color-white;
				}
				hr {
					width: 50%;
				}
			}
		}
	}


	// slideoverlay
	.slideoverlay {
		position: absolute;
		height: $height-slideshow-image;
		width: 100%;
		z-index: 9;
		background: url("../images/videooverlay.png") no-repeat center center;
		pointer-events: none;
		overflow: hidden;
	}

	// slide
	.slider-btn {
		background: $color-orange;
		color: #FFF;
		text-transform: uppercase;
		width: 190px;
		text-align: center;
		height: 55px;
		line-height:55px;
		padding: 0;
		font-size: 18px;
		font-weight: 800;
		border: 0;
		-webkit-transition: all 0.3s ease 0s;
		-moz-transition: all 0.3s ease 0s;
		-o-transition: all 0.3s ease 0s;
		-ms-transition: all 0.3s ease 0s;
		transition: all 0.3s ease 0s;
		&:hover {
			background-color: #FFF;
			color: $color-brown;
		}
	}
	#main-carousel {
		border-bottom: solid 5px $color-dbrown-dark;
		.carousel-inner {
			.item {
				background-size: cover;
				height: $height-slideshow-image;
				background-position: 50% 50%;
				background-repeat:no-repeat;
			}
			h2 {
				color: #FFF;
				display: inline-block;
				font-size: 55px;
				font-weight: 800;
				margin-bottom: 0px;
				text-transform: uppercase;
				span {
	  				color:#7ab700;
				}
				p {
					color: #FFF;
					font-size: 24px;
					font-weight: 300;
					margin-bottom: 59px;
					margin-top: 0;
				}
			}
		}
		.carousel-indicators {
			bottom: 75px;
			li {
				@include glow(5px, $color-white, 0.75);
				border: 2px solid rgba($color-white, 0.5);
				width: 16px;
				height: 16px;
				margin-left: 5px;
				text-indent: -9999px;
				display: inline-block;
			}
			.active { background-color: $color-white !important; }
		}
		.carousel-caption {
			display: table;
			height: 100%;
			width: 100%;
			min-height: 100%;
			left: 0;
			top: 0;
			z-index: 11;
			& > div {
			    vertical-align: middle;
			    display: table-cell;
			}
		}
		.carousel-left {
			@include transition(500ms);
			top: 50%;
			color: rgba($color-white, 1);
			position: absolute;
	 		left: -70px;
			margin-top: -10px;
			z-index: 12;
		}
		.carousel-right {
			@include transition(500ms);
			top: 50%;
			color: rgba($color-white, 1);
			position: absolute;
			right:-70px;
			margin-top: -10px;
			z-index: 12;
		}
		&:hover {
			.carousel-left {
				font-size: 5em;
				text-align: center;
	 			left: 30px;
	  			&:hover { color: $color-orange-light; }
			}
			.carousel-right {
				font-size: 5em;
				text-align: center;
	  			right: 30px;
	  			&:hover { color: $color-orange-light; }
			}
		}
	}
	.slider-content { height: 100%; }
}



// MEDIA QUERY
// LG
@media (min-width: 1200px) {

}
// MD
@media (min-width: 992px) and (max-width: 1199px) {

}
// SM
@media (min-width: 768px) and (max-width: 991px) {
	.slider-outer-container { height: 590px; }
}
// XS
@media (max-width: 767px) {
	.slider-outer-container { height: 590px; }
}